@model MyLibrary.Models.StatisticsViewModel

@{
    ViewBag.Title = "Szybkie statystyki";
}

@section Styles{
    <link href="@Url.Content("~/Styles/Books/index.css")" rel="stylesheet" type="text/css" />
}

<h2>Moja aktywność</h2>

<h3>Średnia liczba książek/rok: @Model.BooksPerYear.ToString("0.00")</h3>
@{
    if (Model.LastFinishedReading != null)
    {
        <div class="media">
            <div class="thumbnail">
                <div class="media-left">
                    <img class="media-object" src="@Model.LastFinishedReading.BookInLibrary.Book.UrlPhoto" alt="Cover of a book" id="my_image_medium" />
                </div>
                <div class="media-body">
                    <h1><span id="boldH3">Ostatnio przeczytana książka</span></h1>
                    <h4>@Model.LastFinishedReading.BookInLibrary.Book.Title</h4>
                    <h4>@Model.LastFinishedReading.BookInLibrary.Book.Author</h4>
                    <p>Czytanie ukończono: @Model.LastFinishedReading.EndOfReading</p>
                    <a href="@Url.Action("More", "BookInLibraries", new { id = Model.LastFinishedReading.BookInLibrary.Id})" class="btn btn-info">
                        Więcej
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Brak danych o jakiejkolwiek ukończonej książce.</p>
    }
}

<h3>Aktualnie czytane książki</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Okładka</th>
            <th scope="col">Autor</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Rozpoczęcie czytania</th>
        </tr>

    </thead>
    <tbody>
        @{
            for (int i = 0; i < Model.CurrentReadings.Count(); i++)
            {
                <tr>
                    <th>@(i + 1)</th>
                    <td><img class="media-object" src="@Model.CurrentReadings.ElementAt(i).BookInLibrary.Book.UrlPhoto" alt="Cover of a book" id="my_image_small" /></td>
                    <td>@Model.CurrentReadings.ElementAt(i).BookInLibrary.Book.Author</td>
                    <td>@Model.CurrentReadings.ElementAt(i).BookInLibrary.Book.Title</td>
                    <td>@Model.CurrentReadings.ElementAt(i).StartOfReading</td>
                    <td>@Html.ActionLink("Więcej", "More", "BookInLibraries", new { id = Model.CurrentReadings.ElementAt(i).BookInLibrary.Id }, null)</td>
                </tr>
            }
        }

    </tbody>
</table>